<!doctype html>
<html>
<head>
	<title>CS602...chan?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/css/bootstrap.css' />
	<link rel='stylesheet' href='/css/cs602chan.css' />
</head>
<body>
    <div class="container">
    <header>
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <a href="/">
                    <img src="/images/logo.gif" alt="logo" class="">
                </a>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-7">
                {{#each boards}}
                <span class="menu-item">
                    [ <a href="/boards/{{this._id}}/threads/">{{this.name}}</a> ]
                </span>
                {{/each}}
            </div>
            <div class="col-xs-2 col-sm-1">
                <a href="/admin/boards/" class="pull-right">Admin</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        {{#if adminView}}
        <span class="menu-item"><a href="/admin/boards/">Manage boards</a> |</span>
        <span class="menu-item"><a href="/admin/accounts/">Manage accounts</a> |</span>
        <span class="menu-item"><a href="/admin/logout">Logout</a></span>
        <br><br>
        {{/if}}
    </header>

	{{{body}}}

    </div>
</body>
</html>
