<form class="form-horizontal" method="POST">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="name" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<table class="table">
    {{#each boards}}
    <tr>
        <td>{{this.name}}</td>
        <td><a class="btn btn-default" href="{{this._id}}/edit">Edit</a></td>
    </tr>
    {{/each}}
</table>