<form class="form-horizontal" method="POST" action="edit" id="edit">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="name" value="{{boardName}}" required>
        </div>
    </div>
</form>
<form method="POST" action="delete" id="delete"
      onsubmit="return confirm('Delete board and all threads?')"></form>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" form="edit" class="btn btn-primary">Save</button>
        <button type="submit" form="delete" class="btn btn-danger pull-right">Delete</button>
        <a href=".." class="btn btn-default">Cancel</a>
    </div>
</div>
