<div class="panel panel-default" id="edit">
    <div class="panel-heading">Edit Your Account</div>
    <div class="panel-body">
        {{#if editSuccess}}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            {{editSuccess}}
        </div>
        {{/if}}
        {{#if editError}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{editError}}
        </div>
        {{/if}}
        <form class="form-horizontal" method="POST" action="edit">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername" name="username" required
                            value="{{#if editUsername}}{{editUsername}}{{else}}{{username}}{{/if}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default" id="create">
    <div class="panel-heading">Create New Account</div>
    <div class="panel-body">
        {{#if createSuccess}}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            {{createSuccess}}
        </div>
        {{/if}}
        {{#if createError}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{createError}}
        </div>
        {{/if}}
        <form class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="inputCreateUsername" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCreateUsername" name="username" required
                           {{#if createUsername}}value="{{createUsername}}"{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCreatePassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputCreatePassword" name="password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>