<form class="form-horizontal" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputSubject" class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSubject" name="subject" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputComment" class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-10">
            <textarea rows="3" class="form-control" id="inputComment" name="comment" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputImage" class="col-sm-2 control-label">Image</label>
        <div class="col-sm-10">
            <input type="file" id="inputImage" name="image" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Optional">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create Thread</button>
        </div>
    </div>
</form>
{{#each threads}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{{this._id}}#thread">{{this.subject}}</a>
        </h3>
    </div>
    <div class="panel-body">
        {{#if this.image}}
        <a href="/uploads/{{this.image}}" target="_blank">
            <img src="/uploads/{{this.image}}" class="image pull-left">
        </a>
        {{/if}}
        <span class="sub-text">{{this.createdAt}}</span><br>
        {{this.comment}}
        {{#if this.hiddenReplyCount}}
        <span class="clear"></span>
        <hr>
        ... {{this.hiddenReplyCount}} replies hidden ...
        {{/if}}
        {{#each this.replies}}
        <span class="clear"></span>
        <hr>
        {{#if this.image}}
        <a href="/uploads/{{this.image}}" target="_blank">
            <img src="/uploads/{{this.image}}" class="image pull-left">
        </a>
        {{/if}}
        <span class="sub-text">{{this.createdAt}}</span><br>
        {{this.comment}}
        {{/each}}
    </div>
    <div class="panel-footer">
        <a href="{{this._id}}#reply">Reply</a>
    </div>
</div>
{{/each}}
