<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{subject}}</h3>
    </div>
    <div class="panel-body">
        {{#if op.image}}
        <a href="/uploads/{{op.image}}" target="_blank">
            <img src="/uploads/{{op.image}}" class="image pull-left">
        </a>
        {{/if}}
        <span class="sub-text">{{op.createdAt}}</span><br>
        {{op.comment}}
        <span class="clear"></span>
        <hr>
        <span id="reply">
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{error}}
            </div>
            {{/if}}
            <div class="row">
                {{#if image}}
                <div class="col-sm-4 col-md-3">
                    <a href="/uploads/{{image}}" target="_blank">
                        <img src="/uploads/{{image}}" class="image">
                    </a>
                </div>
                <div class="col-sm-8 col-md-9">
                {{else}}
                <div class=col-xs-12>
                {{/if}}
                    <span class="sub-text">{{createdAt}}</span><br><br>
                    <form class="form-horizontal" method="POST" action="edit" id="edit" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="inputComment" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-10">
                                <textarea rows="3" class="form-control" id="inputComment" name="comment" required>{{comment}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputImage" class="col-sm-2 control-label">Image</label>
                            <div class="col-sm-10">
                                <input type="file" id="inputImage" name="image">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label>
                                    <input type="checkbox" name="removeImage" value="true"> Remove image
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" name="password" required
                                       onblur="document.forms.delete.password.value = this.value;">
                            </div>
                        </div>
                    </form>
                    <form method="POST" action="delete" id="delete">
                        <input type="hidden" name="password">
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" form="edit" class="btn btn-primary">Save</button>
                            <button type="submit" form="delete" class="btn btn-danger pull-right">Delete</button>
                            <a href="../../../{{threadId}}#{{replyId}}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>
