<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome to CS602chan</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <em>What is this?</em><br>
                This is a final project for CS602 at BU by Cory Stone.
            </li>
            <br>
            <li>
                <em>But what is it??</em><br>
                This is an anonymous image board. Users may create threads with new topics, and post replies, using images and text.
            </li>
            <br>
            <li>
                <em>How do I browse it?</em><br>
                Choose a board topic to be shown a list of threads for that topic with the latest replies. Click the thread title to see the entire thread.
            </li>
            <br>
            <li>
                <em>How do I create new threads?</em><br>
                At the top of a given board there is a form for creating new threads. Each thread requires a subject, a comment, and an image.
            </li>
            <br>
            <li>
                <em>How do I reply to a thread?</em><br>
                When viewing a particular thread, there is a form at the bottom for adding a reply. A reply requires a comment, but images are optional.
            </li>
            <br>
            <li>
                <em>What's with the password field?</em><br>
                You can optionally include a password when creating a thread or a reply. If you want to edit/delete a thread/reply, from the thread view select the Edit button and you will see an edit form. Here you must enter the password you provided upon creation to authenticate the changes.
            </li>
        </ul>
    </div>
</div>
