<a href="." class="btn btn-default">Return</a><br><br>
<div class="panel panel-default" id="thread">
    <div class="panel-heading">
        <h3 class="panel-title">{{thread.subject}}</h3>
    </div>
    <div class="panel-body">
        <a href="{{thread._id}}/edit#thread" class="btn btn-default pull-right">Edit</a>
        {{#if thread.image}}
        <a href="/uploads/{{thread.image}}" target="_blank">
            <img src="/uploads/{{thread.image}}" class="image pull-left">
        </a>
        {{/if}}
        <span class="sub-text">{{thread.createdAt}}</span><br>
        {{thread.comment}}
        {{#each thread.replies}}
        <span class="clear"></span>
        <hr>
        <span id="{{this._id}}">
            <a href="{{../thread._id}}/replies/{{this.id}}/edit#reply" class="btn btn-default pull-right">Edit</a>
            {{#if this.image}}
            <a href="/uploads/{{this.image}}" target="_blank">
                <img src="/uploads/{{this.image}}" class="image pull-left">
            </a>
            {{/if}}
            <span class="sub-text">{{this.createdAt}}</span><br>
            {{this.comment}}
        </span>
        {{/each}}
    </div>
    <div class="panel-footer">
        <form class="form-horizontal" method="POST" action="{{thread._id}}/replies" enctype="multipart/form-data" id="reply">
            <div class="form-group">
                <label for="inputComment" class="col-sm-2 control-label">Comment</label>
                <div class="col-sm-10">
                    <textarea rows="3" class="form-control" id="inputComment" name="comment" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputImage" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                    <input type="file" id="inputImage" name="image">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Optional">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Reply</button>
                </div>
            </div>
        </form>
    </div>
</div>
<a href="." class="btn btn-default">Return</a>
