.image {
    margin-right: 15px;
    max-height: 200px;
    max-width: 200px;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 10px;
}

.menu-item {
    font-size: 20px;
    white-space: nowrap;
}

span.clear {
    clear: left;
    display: block;
}